{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": ["> 3%", "IE 11"],
                    "node": 8
                },
                "corejs": 2,
                "debug": true,
                "exclude": ["transform-typeof-symbol"],
                "useBuiltIns": "usage"
            }
        ]
    ]
}
