{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": ["> 3%", "IE 11"],
                    "node": 8
                },
                "corejs": 2,
                "exclude": [
                    "transform-typeof-symbol",
                    "es6.function.name",
                    "es6.string.link",
                    "es6.number.constructor",
                    "es6.regexp.split",
                    "es6.regexp.replace"
                ],
                "useBuiltIns": "usage"
            }
        ]
    ]
}
