{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": ["> 3%", "IE 11"],
                    "node": 8
                },
                "corejs": 3,
                "debug": true,
                "exclude": [
                    "transform-typeof-symbol",
                    "es.function.name",
                    "es.string.link",
                    "es.number.constructor",
                    "es.string.split",
                    "es.string.replace",
                    "es.array.concat",
                    "es.array.filter",
                    "es.array.join",
                    "es.array.map",
                    "es.array.slice",
                    "es.array.splice",
                    "web.dom-collections.for-each"
                ],
                "useBuiltIns": "usage"
            }
        ]
    ]
}
