.incito__flex-layout-view
    display flex
    align-items: attr(data-align-items)
    align-content: attr(data-align-content)
    justify-content: attr(data-justify-content)
    flex-direction: attr(data-flex-direction)
    flex-shrink: attr(data-flex-shrink)
    flex-grow: attr(data-flex-grow)
    flex-basis: attr(data-flex-basis)