.incito
    position relative
    font-family -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
    box-sizing border-box
    text-rendering optimizeLegibility

    *:before,
    *,
    *:after
        box-sizing inherit
    
    &[data-debug="true"]
        .incito__view
            border 1px solid red !important
        
    [data-link],
    [data-callback]
        cursor pointer

@require './view'
@require './absolute-layout'
@require './linear-layout'
@require './flex-layout'
@require './image'
@require './text'
@require './video-embed'