@require 'node_modules/nib/index.styl'

.incito
    position relative
    font-family -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
    box-sizing border-box
    text-rendering optimizeLegibility
    min-height 100vh

    *:before,
    *,
    *:after
        box-sizing inherit
        
    [data-link]
        cursor pointer

@require './view'
@require './absolute-layout'
@require './linear-layout'
@require './flex-layout'
@require './image'
@require './text'
@require './video-embed'