.incito__text-view
    margin 0
    font-family inherit
    hyphens auto
    word-break break-word
    overflow-wrap break-word

    &[data-single-line="true"]
        white-space nowrap

    > sup
        vertical-align baseline
        position relative
        top -0.74em
        font-size 0.5em