@require 'node_modules/nib/index.styl'

.incito
    position relative
    font-family -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
    box-sizing border-box
    text-rendering optimizeLegibility
    min-height 100vh

    *:before,
    *,
    *:after
        box-sizing inherit
        
    [data-link]
        cursor pointer

@require './views/view'
@require './views/absolute-layout'
@require './views/flex-layout'
@require './views/image'
@require './views/text'
@require './views/video-embed'